<!DOCTYPE html>
<html>
<head>
	<title>First Html in node js</title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>


	{{>header}}
	<h1>Help </h1>	
	{{>footer}}
</body>
</html>